* {
    padding: 0;
    margin: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.main-page {
    height: 100vh;
    width: 100vw;
    display: grid;
    place-items: center;
    background: rgb(37, 37, 37);
}

.main-page .container {
    width: 80%;
    height: 400px;
    /* box-shadow: 5px 5px 15px gray; */
    border-radius: 5px;

    display: grid;
    grid-template-columns: 1fr 1fr;
}

.main-page .container .left{
    grid-column: 1/2;
}

.main-page .container .left img {
    width: 100%;
    height: 100%;
    object-fit: fill;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.main-page .container .right{
    padding: 20px;
    background: rgb(14, 13, 13);
    color: rgb(235, 227, 227);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;

    grid-column: 2/3;
}

.main-page .container .right .title {
    font-size: 35px;
    font-weight: lighter;
    margin-bottom: 10px;
}

.main-page .container .right .greetings, .sentence {
    margin-bottom: 10px;
}

.main-page .container .right a {
    font-weight: bolder;
    background-color: rgb(14, 13, 13);  
    text-decoration: none;
    color: rgb(235, 227, 227);
    padding: 15px;
    border: 2px solid rgb(235, 227, 227);
    border-radius: 5px;

    display: inline-block;
    margin-top: 20px;
}

.main-page .container .right a:hover {
    color: rgb(14, 13, 13); 
    background-color: rgb(235, 227, 227); 
    border: 2px solid rgb(14, 13, 13); 
}